* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
border: 2px solid black;
display: flex;

}
.nav {
    width: 100%;
}
ul li {
    list-style: none;
    font-size: 22px;
    color: black;
}
a {
    color: black;
    text-decoration: none;
}
ul {
display: flex;

justify-content: space-around;
}
.burger {
    display: none;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
transition: 1s;
}
input:focus {
    box-shadow: 10px 10px 10px blue;
}

@media(max-width: 920px){
    .burger {
        display: block;
    }
    .nav {
        width: 80%;
    }
    .list {
        display: block;
    padding-left: 25px;
    margin-top: 200px;
margin-left: -400px;
transition: 1s;
}
.newList {
    margin-left: 10px;
}
} 


















